.img-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

img {
    width: 40%;
}

.center {
    text-align: center;
}

.text {
    color: grey;
}

#welcome {
   font-style: italic;
}